* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html, body {
  height: 100%;
  color: white;
  font-family: 'Poppins', 'Open Sans', sans-serif;
}

body {
  background: url('images/bg-mobile.svg') no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: hsl(257, 40%, 49%);
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

p {
  font-family: 'Open Sans', sans-serif;
}

p.description {
  line-height: 1.8rem;
}



/* BEGIN Bootstrap overrides */
.container {
  max-width: 1320px;
  padding-left: 35px;
  padding-right: 35px;
}
/* END Bootstrap overrides */



/* BEGIN Custom button */
.btn-action {
  background-color: #ffffff;
  color: hsl(257, 40%, 49%);
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 13px 23px;

  min-width: 200px;
  font-size: 1.2em;
  box-shadow: 4px 4px 18px -4px #222222;
}

.btn-round:hover {
  color: hsl(257, 40%, 49%);
  box-shadow: 4px 4px 36px -4px #222222;
}
/* END Custom button */



.title {
  margin-bottom: 1.5rem;
  font-weight: bold;
  line-height: 1.6em;
}

.description {
  margin-bottom: 1.5rem;
}

.brand-logo {
  cursor: pointer;
  height: 32px;
  width: auto;
}

.color-primary {
  color: hsl(257, 40%, 49%);
}

.mockup-image {
  height: auto;
  max-width: 100%;
}

.social-logo {
  border: 2px solid white;
  height: 100px; 
  width: 100px;
  display: flex;
}

.footer-container {
  float: none;
}

.footer-container a{
  text-align: center;
  float: center;
  border-radius: 100%;
  margin-left: 16px;
} 

.footer-container a i{
  color: #FFFFFF;
  padding: .75rem 0;
}

i.fab {
  display: inline-block;
  border-radius: 100%;
  border: 1.5px solid #FFFFFF;

  width: 42px;
  height: 42px;
}

.huddle-py-3 {
  padding-top: 3rem!important;
}

.huddle-py-3 {
  padding-bottom: 3rem!important;
}





/* BEGIN Responsiveness */
@media (min-width: 992px) { 
  body {
    background: url('images/bg-desktop.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
  }

  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
  }

  .brand-logo {
    cursor: pointer;
    height: 50px;
    width: auto;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  p.description {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8rem;
    font-size: 1.12em;
  }
}
/* END Responsiveness */
