* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html, body {
  height: 100%;
  color: white;
  font-family: 'Poppins', 'Open Sans', sans-serif;
}

body {
  background: url('images/bg-desktop.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
}

h1 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5em;
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.75rem;
  font-size: 1.1em;
}



/* BEGIN Bootstrap overrides */
.container {
  max-width: 1280px;
}
/* END Bootstrap overrides */



/* BEGIN Custom button */
.btn-action {
  background-color: #ffffff;
  color: hsl(257, 40%, 49%);
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 13px 23px;

  min-width: 200px;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 4px 4px 18px -4px #222222;
}

.btn-round:hover {
  color: hsl(257, 40%, 49%);
  /* background: #00252e; */
  box-shadow: 4px 4px 36px -4px #222222;
}
/* END Custom button */



.title {
  margin-bottom: 1.5rem;
}

.description {
  margin-bottom: 1.5rem;
}

.brand-logo {
  cursor: pointer;
  height: 50px;
  width: auto;
}

.color-primary {
  color: hsl(257, 40%, 49%);
}

.mockup-image {
  height: auto;
  max-width: 100%;
}

.social-logo {
  border: 2px solid white;
  height: 100px; 
  width: 100px;
  display: flex;
}

.footer-container {
  height: 85px;
  float: right;
}

.footer-container a{
  text-align: center;
  float: center;
  border-radius: 100%;
  margin-left: 16px;
} 

.footer-container a i{
  color: #FFFFFF;
  padding: .75rem 0;
}

i.fab {
  display: inline-block;
  border-radius: 100%;
  border: 1.5px solid #FFFFFF;

  width: 42px;
  height: 42px;
}

/* BEGIN Responsiveness */
@media (min-width: 375px) {

}

@media (min-wiidth: 1440px) {

}
/* END Responsiveness */
